@import "tailwindcss";

@theme inline {
  --font-inter: "Inter", sans-serif;
  
  --color-primary: #4B1D8F; /* User-requested exact purple */
  --color-primary-container: #4b1d8f;
  --color-on-primary-container: #b991ff;
  
  --color-secondary: #d3bbff;
  --color-secondary-container: #591bb5;
  
  --color-tertiary: #4edea3;
  --color-tertiary-container: #00442d;
  --color-on-tertiary-container: #17bb83;
  
  --color-background: #131313;
  --color-surface: #131313;
  --color-surface-container: #201f1f;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  --color-surface-container-lowest: #0e0e0e;
  --color-surface-bright: #393939;
  --color-surface-variant: #353534;
  
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #ccc3d4;
  --color-on-background: #e5e2e1;
  
  --color-outline: #958e9d;
  --color-outline-variant: #4a4452;
  
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-inter selection:bg-primary-container selection:text-white;
    -webkit-font-smoothing: antialiased;
  }
}

@layer components {
  .glass-panel {
    @apply bg-surface-container-highest/40 backdrop-blur-[24px];
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #131313;
}

::-webkit-scrollbar-thumb {
  background: #353534;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6320EE;
}